body {
    background: url("https://www.national-geographic.pl/media/cache/slider_big/uploads/media/default/0014/29/wodospady-w-polsce-12-najpiekniejszych-polskich-wodospadow-na-zdjeciu-wodospad-szklarki-fot-getty-images-krzysztof-poleszak.jpeg");
}

#title {
    color: rgb(186,133,9);
}

.subtitle {
    color: rgb(200,148,30);
}

